
/* nece - cross origin */
@font-face {
    font-family: "headings";
    src: url("resources/_FONT/Titillium-BoldUpright.otf") format("opentype");
}

#wrapper {
    width: 1400px;
    margin: 10px auto;
    padding-top: 10px;
}   


/**** HEADER *****/
header {
    width: 1000px;
    margin: auto;
    margin-bottom: 20px;
    padding: 10px 0;
    box-shadow: 0 16px 10px -17px rgba(0, 0, 0, 0.5);
}

header .row{
    margin: auto 10px;
}

.logo {
    display: inline;
}

.phone {
	background-color: darkgrey;
    float: left;
    padding: 3px;
}

.info {
    float: left;
    margin-left: 3px;
}

.info div:first-child {
	font-size: 10px;
    font-weight: bolder;
}

.info div:last-child {
	font-size: 8px;
}

.flag {
    float: left;
    margin-left: 20px;
}

/* navigation */
header nav {
    text-align: center;
}

header nav ul {
    margin: 0;
    padding: 0;
    display: inline-block;
}

header nav ul li {
    float: left;
    list-style: none;
    
}

header nav ul li a {
    font-weight: bolder;
    color: black;
    margin: 0 10px;
    font-size: 14px;
}

header nav ul li a:hover {
    color: red;
    list-style: underline;
}

#select {
	cursor: pointer;
    background-color: #E30116;
    color: white;
    width: 180px;
}

#select img {
	border-right: 1px solid white;
}

#options {
    width: 180px;
    display: none;
    position: absolute;
    z-index: 99;
    background-color: #E30116;
}

#options ul {
    padding-left: 0px;
    margin-bottom: 0px;
}

#options ul li {
    display: block;
    list-style: none;
    margin: 0;
    padding: 10px;
}

#options ul li a{
    color: white;
    text-decoration: none;
}

#options ul li:hover {
    background-color: white;
}

#options ul li:hover a {
    color: #E30116; 
}
/* end nav */



/** END header END **/


/* footer */
footer {
    background-color: #2E2E2E;
}

footer div {
    margin: 20px auto;
}

.foo-logo {

    float: left;
    width: 450px;
}

.foo-logo img{
    float: right;
}

.foo-nav {
    
    float: right;
    width: 600px;
}

.foo-nav nav {
    text-align: center;
}

.foo-nav nav ul {
    margin: 0;
    padding: 0;
    display: inline-block;
    float: left;
}

.foo-nav nav ul li {
    float: left;
    list-style: none;
    
}

.foo-nav nav ul li a {

    color: white;
    margin: 0 10px;
    font-size: 12px;
}

.foo-nav nav ul li a:hover {
    color: red;
    list-style: underline;
}

.copy {
    padding-left: 10px;
    color: lightgray;
    font-size: 8px;
}

/* general */
#clear {
    clear: both;
}

p {
    font-size: 9px;
    
}


/*********************** RESPONSIVE **************************/
@media only screen and (max-width: 1036px) {
    .foo-nav {
        margin-left: 30px;
        float: left;
        width: 500px;
    }
    
    .foo-logo {
        float: left;
        width: 460px;
    }
    
    footer {
        width: 1036px;
    }
}

@media only screen and (max-width: 992px) {

    .parOpt {
        margin-top: 8px;
    }
    header nav {
        text-align: left;
        margin: 10px auto;
    }

    footer {
        width: 992px;
    }
}

@media only screen and (max-width: 768px) {
    .foo-nav {
        margin-left: 30px;
        float: left;
        width: 300px;
    }
    
    .foo-logo {

        float: left;
        width: 300px;
    }
    
    footer {
        width: 768px;
    }
}

@media only screen and (max-width: 610px) {
    .foo-nav {
        margin-left: 30px;
        float: left;
        width: 200px;
    }
    
    .foo-logo {

        float: left;
        width: 200px;
    }
    
    footer {
        width: 610px;
    }
}

@media only screen and (max-width: 476px) {
    
    header {
        width: 100%;
    }
    
    footer {
        width: 476px;
    }

}

@media only screen and (max-width: 360px) {
    
    footer {
        width: 360px;
    }
    
    .foo-nav {
        margin-left: 0;
        float: none;
        width: auto;
    }
    
    .foo-logo {
        float: none;
        width: auto;
    }
    
    .foo-nav nav {
        text-align: left;
    }

    .foo-nav nav ul {
        margin: 0;
        padding: 0;
        display: inline;
        float: none;
    }

    .foo-nav nav ul li {
        float: none;
        display: inline;
        list-style: none;

    }

    .foo-nav nav ul li a {

        color: white;
        margin: 0 10px;
        font-size: 12px;
    }
    
    .foo-logo img{
        margin: 10px 0 0 10px;
        float: none;
    }
    
    .copy {
        margin: 5px;
    }
    

}

