nav ul li:nth-child(3) a{
    color: red;
    list-style: underline;
}
/******** MAIN **********/
/* google maps */
#map {
    width: 1400px;
    height: 400px;
    background-color: grey;
	margin-bottom: 25px;
}

button {
    color: white;
    background-color: darkgrey;
    font-size: 12px;
}

button:hover {
    background-color: red;
}

.breadcrumb {
    font-size: 10px;
    background-color: transparent;
    margin-bottom: 0px;
}

.selected {
    background-color: red;
}

/* section #pre */
#pre {
    margin: 20px 0;
}
#pre #center {
    border: 0px;
}

.name {
    font-size: 26px;
    font-weight: bolder;
}

#center {
    margin: 10px auto;
    width: 800px;
}



/* search */
#search {
    width: 800px;
}

#preFoo {
	text-align: center;
    margin: 40px auto;
}

#preFoo span {
    padding: 5px 40px;
    background-color: red;
    color: white;
    font-size: 8px;
}



/* ******************** RESPONSIVE ******************** */

@media only screen and (max-width: 1024px) {
    
    header {
        width: 1024px;
    }
    
    #wrapper {
        width: 1024px;
    }
    
    #map {
        width: 1024px;
    }
    
    #preFoo #center {
        width: 1024px;
    }

}

@media only screen and (max-width: 768px) {
    
    header {
        width: 768px;
    }
    
    #wrapper {
        width: 768px;
    }

    #pre #center {
        width: 500px;
    }
    
    #map {
        width: 768px;
    }
    
    #main {
        width: 768px;
    }
    
    #main #center {
        width: 650px;
    }
    
    #search {
        width: 680px;
    }
    
    #preFoo #center {
        width: 768px;
    }

}

@media only screen and (max-width: 480px) {
    
    header {
        width: 480px;
    }
    
    #wrapper {
        width: 480px;
    }

    #pre #center {
        width: 400px;
    }
    
    #map {
        width: 480px;
    }
    
    #main {
        width: 480px;
    }
    
    #main #center {
        width: 380;
    }
    
    #search {
        width: 480px;
    }
    
    .name {
        font-size: 16px;
    }
    
    .breadcrumb {
	   font-size: 12px;
    }
    
    #preFoo #center {
        width: 480px;
    }

}

@media only screen and (max-width: 360px) {
    
    header {
        width: 360px;
    }
    
    #wrapper {
        width: 360px;
    }
    #pre #center {
        width: 320px;
    }
    
    #map {
        width: 360px;
    }
    
    #main {
        width: 360px;
    }
    
    #main #center {
        width: 300px;
    }
    
    #search {
        width: 360px;
    }
    
    #preFoo #center {
        width: 360px;
    }
    
    #preFoo h3 {
        font-size: 16px;
    }
}

@media only screen and (max-width: 320px) {
    
    header {
        width: 320px;
    }
    
    #wrapper {
        width: 320px;
    }


}
