nav ul li:first-child a{
    color: red;
    list-style: underline;
}

/************* MAIN ***********/
section {
    border-bottom: 1px solid red;
}

/*** slider ******/

    
.slick-inner {
    margin: 0 50%; 
    width: 500px;
    padding: 50px;
    height: 450px;
    background: rgba(255,255,255,0);
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0.8) 58%, rgba(255,255,255,0.8) 60%, rgba(0,0,0,0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(58%, rgba(255,255,255,0.8)), color-stop(60%, rgba(255,255,255,0.8)), color-stop(100%, rgba(0,0,0,0)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0.8) 58%, rgba(255,255,255,0.8) 60%, rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0.8) 58%, rgba(255,255,255,0.8) 60%, rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0.8) 58%, rgba(255,255,255,0.8) 60%, rgba(0,0,0,0) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0.8) 58%, rgba(255,255,255,0.8) 60%, rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=1 );
}
    
.slick-slider {
	background-image: url(../resources/_IMAGES/page-1/01-slider-image.jpg);
    height: 450px;
}

.cta span {
    padding: 5px 40px;
    background-color: red;
    color: white;
    font-size: 8px;
}

#txt {
    color: white;
}
/* END slider END */


/* first section */
#first {
	padding-top: 20px;
}

#first article {
    width: 400px;
    float: left;
}

#first h1 {
    font-size: 26px;
    margin: 0;
}

#first h3 {
    font-size: 18px;
    margin: 5px auto;
}

#first .image {
    float: left;
    width: 500px;
    margin-right: 30px;
}

#first .image img {
    float: right;
}


/* second section */
.read {
    color: red;
    text-decoration: underline;
}

#second {
	background-color: #E7E7E7;
}

#second article {
    float: right;
    width: 400px;
    margin-right: 30px;
    margin-top: 30px;
}

#second h1 {
    font-size: 26px;
    margin: 0;
}

#second h3 {
    font-size: 18px;
    margin: 5px auto;
}

#second .image {
	float: right;
}

.center {
    width: 800px;

}

/* third section */
#third {
    background-image: url("../resources/_IMAGES/page-1/04-image.jpg");
    background-size: 1430px;
    color: white;
    text-align:center;
}

#center {
    margin: auto;
    width: 400px;
}

#large-icon {
    padding-top: 10px;
}


#third h3 {
    font-size: 18px;
    
}

#third span {
    padding: 5px 40px;
    background-color: white;
    color: black;
    font-size: 8px;
}

#third h1 {
    font-size: 30px;
    margin: 0;
    font-family: 'headings';
}

#third p {
    font-size: 14px;
}


span {
    color: red;
}

/************* RESPONSIVE **************/

@media only screen and (max-width: 1290px) {
    #second {
        width: 1290px;
    }

}

@media only screen and (max-width: 1194px) {
    #second {
        width: 1120px;
    }
    #first {
        width: 1194px;
    }
}

@media only screen and (max-width: 1024px) {
    
    #wrapper {
        width: 1024px;
    }
    
    #slickSlider {
        width: 1024px;
    }
    
    #first {
        width: 1024px;
    }
    
    #first article {
        float: left;
        width: 400px;
    }
    
    #first .image {
        width: 300px;
        float: left;
    }
    
    #second {
        width: 1024px;
    }
    
    #second img {
        height: 200px;
    }
    
    #third {
        width: 1024px;
    }
    
    #third {
        background-image: url("../resources/_IMAGES/page-1/04-image.jpg");
        background-size: 1024px;
        color: white;
        text-align:center;
    }
}

@media only screen and (max-width: 768px) {
    #wrapper {
        width: 768px;
    }
    
    header {
        width: 768px;
    }
    
    #first {
        width: 768px;
        padding-left: 0;
    }
    
    #first .image {
        display: none;
    }
    
    #first article {
        
        float: none;
        margin: auto;
        
    }
    
    #second {
        width: 768px;
    }
    
    #second img {
        height: 200px;
    }
    
    #second .image {
        display: none;
        float: none;
    }
    
    #second article {
        float: none;
        width: 400px;
        padding-top: 30px;
        margin: 0 auto;
    }
    

    #third {
        width: 768px;
        background-image: url("../resources/_IMAGES/page-1/04-image.jpg");
        background-size: 768px;

    }
    
    .slick-inner {
        width: 400px;    
    }
    
    .slick-dots
    {
        margin: -150px 0 0 150px;
    }
    

}



@media only screen and (max-width: 480px) {
    #wrapper {
	   width: 480px;
    }
    
    .slick-slider {
        height: 300px;
    }
    
    .slick-inner {
        margin: 0;
        height: 300px;
        padding: 20px;
    }
    
    .slick-dots
    {
        margin: -100px 0 0 0px;
    }    
    
    #first {
        width: 480px;
        padding-left: 0;
    }
    
    #second {
        width: 480px;
    }
    
    #second article {
        width: 400px;
    }
    
    #third {
        width: 480px;
    }
    
    .slick-inner h1 {
        font-size: 18px;    
    }
    
    .slick-inner #text {
        font-size: 12px;    
    }
    
    footer {
        width: 480px;
    }

}

@media only screen and (max-width: 420px) {
    #wrapper {
	   width: 420px;
    }
    
    #first {
        width: 420px;
        padding-left: 0;
    }
    
    #first article {
        width: 350px;
    }

    #second {
        width: 420px;
        padding-left: 0;
    }
    
    #second article {
        width: 350px;
    }
    
    #third {
        width: 420px;
    }
    
    #slickSlider {
        display: none;
    }
    
    h1 {
        font-size: 12px;
    }

}

@media only screen and (max-width: 360px) {
    #wrapper {
	   width: 360px;
    }
    
    .slick-slider {
	   display: none;
    }
    
    #first {
        width: 360px;
        padding-left: 0;
    }
    
    #first article {
        width: 340px;
    }

    #second {
        width: 360px;
        padding-left: 0;
    }
    
    #second article {
        width: 340px;
    }
    
    #third {
        width: 360px;
    }
    
    #third #center {
        width: 360px;
    }

}