
nav ul li:nth-child(2) a{
    color: red;
    list-style: underline;
}
/* section #pre */
#pre {
    margin-bottom: 20px;
}

#pre #center {
    border: 0px;
}

.breadcrumb {
    font-size: 10px;
    background-color: transparent;
    margin-bottom: 0px;
}

.name {
    font-size: 26px;
    font-weight: bolder;
}

.txt {
    padding-left: 70px;
    font-size: 12px;
}

#baner {
	
}


/**** MAIN *****/
.divider {
    height: 50px;
    background-image: url(../resources/_GRAPHICS/icons/pattern.png);
    background-repeat: repeat-x;
}

#first {
	margin-top: 20px;
    border-top: 1px solid grey;
}

#center {
    margin: auto;
    width: 800px;
}

#checkBox {
    border-right: 1px solid grey;
    float: left;
    padding-right: 30px;
}

#sketch {
	float: left;
    padding-left: 30px;
    text-align: center;
}

#second .row div {
	padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

span {
    font-size: 10px;
}

.margin {
    margin: 10px auto;
}

.margin img {
    margin-left: 3px;
}

#second .row{
	text-align: center;
}

#third .row{
	text-align: center;
}

#second img {
    height: 200px;
}

#third img {
    height: 200px;
}

/* ******************** RESPONSIVE ******************** */

@media only screen and (max-width: 1024px) {
    
    #wrapper {
        width: 1024px;
    }
    
    #baner img {
        width: 1024px;
    }

}

@media only screen and (max-width: 768px) {
    
    #wrapper {
        width: 768px;
    }

    #pre {
        width: 768px;
    }
    #baner img {
        width: 768px;
    }
    #center {
        width: 600px;
    }
    
    #second .row {
	   clear: both;
    }
}

@media only screen and (max-width: 480px) {
    
    #wrapper {
        width: 480px;
    }

    #pre {
        width: 480px;
    }
    #baner img {
        width: 480px;
    }
    #center {
        width: 380px;
    }
}

@media only screen and (max-width: 360px) {
    
    #wrapper {
        width: 360px;
    }

    #pre {
        width: 360px;
    }
    #baner img {
        width: 360px;
    }
    #center {
        width: 300px;
    }
    
    .name {
        font-size: 14px;
    }
}

@media only screen and (max-width: 320px) {
    
    #wrapper {
        width: 320px;
    }

    #pre {
        width: 320px;
    }
    #baner img {
        width: 320px;
    }
    #center {
        width: 300px;
    }
    
    .name {
        font-size: 16px;
    }
}